:root{
  background-color: #e4cfc9;
  margin: 0;
  --titlesize: 3rem;
  --descripsize: 1.5rem;
  --titlespacing: .7rem;
  --cardlabelsize: 2rem;
  --projectdescripsize: 1.3rem;
}

ul{
  list-style-type: none; 
  list-style-position: inside;
  padding-left: 0;
}

a{
  text-decoration: none;
}

/* header */
.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 2px black solid;
  height: 60px;
  font-size: 40px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.5rem;
  padding-right: 3%;
  background-color: #e4cfc9;
  z-index: 2;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 60px;
}

.logo{
  margin-right: auto;
  padding-left: 3%;
  height: 100%;
}

/* intro */
.introctn{
  border-bottom: 2px black solid;
  height: 90vh;
  background-image: url("./images/wavybackground.png");
  background-repeat: no-repeat;
  background-size: 110% 100%;
}

.nameintro{
  font-family: 'Righteous', cursive;
  font-size: 7rem;
  letter-spacing: 3rem;
  transform: scaleY(1.5);
  padding-top: calc(55% - (90vw / 2));
  padding-left: calc(65% - (100vw / 2));
}

.introsubtext {
  box-sizing: border-box;
  max-width: 100%;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5rem;
  letter-spacing: 2.5rem;
  padding-top: 5%;
  padding-left: calc(80% - (100vw / 2));
}

/* aboutme */

.aboutctn{
  padding: 48px 0 64px;
}

.aboutme{
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-rows: 0.5fr 1fr;
  max-width: 1500px;
  margin: auto;
}

.abouttitle{
  grid-column: 2/3;
  font-family: 'Bebas Neue', sans-serif;
  font-size:  var(--titlesize);
  letter-spacing:  var(--titlespacing);
  margin: 0;
  align-self: center;
}

.aboutintro{
  font-family: 'Oxygen Mono', monospace;
  font-size:  var(--descripsize);
  margin: 0;
}

.selfpic{
  grid-row: 1/3;
  display: flex;
  position: relative;
  top: 33.333%;
  transform: translateY(-33.333%);
  justify-self: center;
}

.selfpic img{
  width: 100%; /* Set the image width to 100% of its parent container */
  height: auto;
  object-fit: contain;
}

.skillctn{
  padding: 32px 64px;
}

.skill{
  padding: 32px 0;
  border-bottom: grey solid 1px;
}

.skilltitle{
  font-family: 'Bebas Neue', sans-serif;
  font-size:  var(--titlesize);
  letter-spacing:  var(--titlespacing);
}

.skilldescrip{
  font-family: 'Oxygen Mono', monospace;
  font-size:  var(--descripsize);
  padding: 16px 32px 0;
}

.sneakpeek{
  border-top: 2px black solid;
  padding-top: 32px;
}

.projectstitle{
  font-family: 'Bebas Neue', sans-serif;
  font-size:  var(--titlesize);
  letter-spacing:  var(--titlespacing);
  padding-left: 10%;
  padding-bottom: 32px;
}

.seemore{
  font-family: 'Oxygen Mono', monospace;
  font-size: var(--cardlabelsize);
  letter-spacing: var(--titlespacing);
  text-align: center;
  border-top: 2px grey solid;
  padding: 32px 0;
}

.contactctn{
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  background-image: url("./images/biglogo.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: center;
  height: 40vh;
  display: grid;
  grid-template-columns: 40% 60%;
}

.contacttitle{
  font-family: 'Bebas Neue', sans-serif;
  font-size:  var(--titlesize);
  letter-spacing:  var(--titlespacing);
  justify-self: right;
  padding-right: 10%;
  padding-top: 10%;
}

.contact{
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 32px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.contactsubtext{
  font-family: 'Oxygen Mono', monospace;
  font-size:  var(--descripsize);
  margin: 0;
}

.contactlist{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.icon{
  height: var(--titlesize);
}  

.portfolioctn{
  margin-top: 120px;
}

.portfoliotitle{
  font-family: 'Bebas Neue', sans-serif;
  font-size:  var(--titlesize);
  letter-spacing:  var(--titlespacing);
  margin-left: 10%;
}

.projectctn{
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  padding: 32px 64px;
}

.right.projectcard{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr;
  max-width: 1500px;
  height: fit-content
}

.right .screenshot{
  grid-row: 1/3;
  position: relative;
  justify-self: flex-end;
  align-self: center;
  width: 100%;
}

.right .design{
  position: absolute;
  border-top: white 4px solid;
  border-right: white 4px solid;
  margin-left: calc(-30% + 16px);
  margin-top: -16px;
  height: 0; 
  padding-bottom: 100%; 
  width: 100%;
}

.right .projectimg{ 
  width: 100%;
  margin-left: -30%;
  opacity: 70%;
}

.right .cardlabel{
  grid-column: 1/2;
  width: fit-content;
  height: fit-content;
  padding: 8px 24px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: var(--cardlabelsize);
  letter-spacing:  var(--titlespacing);
  background-color: #afa09c;
  align-self: center;
  margin-left: calc((100% / 3) * 0.20);
  z-index: 2;
}

.right .projectdescrip{
  grid-column: 1/2;
  grid-row: 2/3;
  width: fit-content;
  height: fit-content;
  padding: 5% 32px;
  background-color: white;
  font-family: 'Oxygen Mono', monospace;
  font-size: var(--projectdescripsize);
  align-self: start;
  margin-right: -16px;
  margin-top: calc((-100% / 3) * 0.20);
  margin-bottom: calc((100% / 3) * 0.20);
  z-index: 1;
}

.left.projectcard{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  max-width: 1500px;
  height: fit-content
}

.left .screenshot{
  grid-row: 1/3;
  position: relative;
  justify-self: flex-end;
  align-self: center;
  width: 100%;
}

.left .design{
  position: absolute;
  border-top: white 4px solid;
  border-left: white 4px solid;
  margin-left: calc(30% - 16px);
  margin-top: -16px;
  height: 0; 
  padding-bottom: 100%; 
  width: 100%;
}

.left .projectimg{ 
  width: 100%;
  margin-left: 30%;
  opacity: 70%;
}

.left .cardlabel{
  grid-column: 2/3;
  width: fit-content;
  height: fit-content;
  padding: 8px 24px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: var(--cardlabelsize);
  letter-spacing:  var(--titlespacing);
  background-color: #afa09c;
  align-self: center;
  margin-left: calc((100% / 3) * 0.20);
  z-index: 2;
}

.left .projectdescrip{
  grid-column: 2/3;
  grid-row: 2/3;
  width: fit-content;
  height: fit-content;
  padding: 5% 32px;
  background-color: white;
  font-family: 'Oxygen Mono', monospace;
  font-size: var(--projectdescripsize);
  align-self: start;
  margin-left: -16px;
  margin-top: calc((-100% / 3) * 0.20);
  margin-bottom: calc((100% / 3) * 0.20);
  z-index: 1;
}

@media (max-width: 768px) {
  :root{
    --titlesize: 1.3rem;
    --descripsize: 0.8rem;
    --titlespacing: .3rem;
    --cardlabelsize: 1rem;
    --projectdescripsize: 0.7rem;
  }

  .header{
    height: 40px;
    font-size: 30px;
    gap: 30px;
  }

  .introctn{
    height: min-content;
    padding-top: 40px
  }

  .nameintro{
    font-size: 2.5rem;
    letter-spacing: 1.5rem;
    transform: scaleY(1.5);
    padding-top: 10%;
    padding-left: calc(65% - (100vw / 2));
  }
  
  .introsubtext {
    font-size: 2rem;
    letter-spacing: 1.5rem;
    padding-top: 5%;
    padding-bottom: 25%;
    padding-left: calc(85% - (100vw / 2));
  }
  
  .aboutctn{
    padding: 32px;
  }

  .aboutme{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 0.3fr .7fr;
    align-content: end;
  }

  .skillctn{
    padding: 16px 16px 32px;
  }

  .projectctn{
    gap: 60px;
    align-items: center;
    padding: 20px 48px;
  }
  
  .left.projectcard{
    grid-template-columns: 0.4fr .6fr;
    grid-template-rows: 0.6fr .6fr;
  }

  .left .cardlabel,   .right .cardlabel{
    padding: 8px 24px;
  }

  .left .projectdescrip, .right .projectdescrip{
    padding: 8% 24px;
  }

  .left .design{
    margin-left: calc(20% - 10px);
    margin-top: -10px;
  }
  
  .left .projectimg{ 
    margin-left: 20%;
  }
  
  .right.projectcard{
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: 0.6fr 0.6fr;
  }
  
  .right .design{
    margin-left: calc(-20% + 10px);
    margin-top: -10px;
  }
  
  .right .projectimg{ 
    margin-left: -20%;
  }

  .seemore{
    padding: 16px 0;
  }
  
  .contactctn{
    height: 30vh;
  }

  .portfolioctn{
    margin-top: 80px;
  }

  .portfoliotitle{
    padding-bottom: 32px;
  }
}

@media (max-width: 480px) {
  :root{
    --titlesize: 1rem;
    --descripsize: 0.7rem;
    --titlespacing: .2rem;
    --cardlabelsize: 0.7rem;
    --projectdescripsize: 0.5rem;
  }

  .header{
    height: 30px;
    font-size: 20px;
    gap: 10px;
  }

  .introctn{
    padding-top: 30px
  }

  .nameintro{
    font-size: 1rem;
    letter-spacing: 1rem;
    padding-top: 15%;
  }
  
  .introsubtext {
    font-size: 0.7rem;
    letter-spacing: 1rem;
    padding-top: 10%;
    padding-bottom: 30%;
    padding-left: calc(85% - (100vw / 2));
  }
  
  .aboutctn{
    padding: 8px 0;
  }

  .projectctn{
    gap: 40px;
    padding: 20px 28px;
  }

  .left .cardlabel,   .right .cardlabel{
    padding: 8px 16px;
  }

  .left .projectdescrip, .right .projectdescrip{
    padding: 8% 16px;
  }

  .portfolioctn{
    margin-top: 60px;
  }
}