/* aboutme */
.sectionctn:has(.aboutctn) {
  background-image: linear-gradient(to right, #662D8C, #4e94ca);
  overflow-y: hidden
}

.aboutctn {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 5rem;
  margin: auto;
  padding: 2rem;
  height: 100%;
  width: 90%;
}

.aboutimg {
  display: flex;
  align-items: end;
  justify-content: space-around;
  width: fit-content;
  padding-right: 1rem;
  z-index: 5;
}

.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  font-family: var(--main-font);
  font-size: var(--headerfontsize);
}

.aboutblurbs {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-self: left;
  gap: 2rem;
  padding-left: 5rem;
}

.loves {
  font-weight: 600;
}

.lovesitems {
  font-size: var(--mainfontsize);
}

/* icon carousel */
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: var(--main-font);
}

.iconctn {
  box-sizing: border-box;
  height: 7rem;
  padding: 1rem 0;
  margin: auto;
  overflow: hidden;
  width: 40vw;
  white-space: nowrap;
  position: relative;
  display: flex;
  background-color: rgb(226, 236, 236, 0.3);
}

.iconctn:before,
.iconctn:after {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  content: "";
  z-index: 2;
}

.iconctn:before {
  left: 0;
  background: linear-gradient(to left, rgb(226, 236, 236, 0), #5A5FAA);
}

.iconctn:after {
  right: 0;
  background: linear-gradient(to right, rgb(226, 236, 236, 0), #5189C4);
}

.icontrack {
  display: flex;
  animation: 35s slide infinite linear;
}

.icon {
  display: grid;
  grid-template-rows: 3fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 2rem;
}

.iconname {
  font-size: var(--detailfontsize);
}

.icon img {
  margin: auto;
}

.langs {
  padding-bottom: var(--mainfontsize);
  font-size: var(--mainfontsize);
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100%));
  }
}


@media (max-width: 1024px) {
  .aboutctn {
    padding: 32px;
  }

  .aboutme {
    grid-template-columns: 40% 60%;
    grid-template-rows: none;
    gap: 2rem;
  }

  .selfpic {
    width: 100%;
  }

  .selfpic img {
    width: 100%;
  }

  .iconctn {
    height: 7rem;
  }

  .icon {
    margin: 0 3rem;
  }

  .icon img {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 480px) {
  .aboutctn {
    padding: 8px 0;
  }

  .aboutme {
    grid-template-rows: 1fr min-content;
    grid-template-columns: none;
    gap: 2rem;
    height: fit-content;
  }

  .selfpic {
    width: 80%;
  }

  .selfpic img {
    margin: auto;
    width: 80%;
  }

  .iconctn {
    height: 5rem;
  }

  .icon {
    margin: 0 1rem;
  }

  .icon img {
    width: 60px;
    height: 60px;
  }
}