/* icon carousel */
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: var(--main-font);
}

.iconctn {
  box-sizing: border-box;
  height: 7rem;
  padding: 1rem 0;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  background-color: rgb(226, 236, 236, 0.1);
}

.iconctn:before,
.iconctn:after {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  content: "";
  z-index: 2;
}

.iconctn:before {
  left: 0;
  background: linear-gradient(to left, rgba(209, 210, 210, 0), #000000);
}

.iconctn:after {
  right: 0;
  background: linear-gradient(to right, rgb(209, 210, 210, 0), #000000);
}

.icontrack {
  display: flex;
  animation: 35s slide infinite linear;
}

.icon {
  display: grid;
  grid-template-rows: 3fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 2rem;
}

.iconname {
  font-size: var(--detailfontsize);
}

.icon img {
  margin: auto;
}

.langs {
  padding-bottom: var(--mainfontsize);
  font-size: var(--headerfontsize);
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100%));
  }
}


@media (max-width: 1024px) {
  .aboutctn {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: none;
    gap: 3rem;
    margin: 0;
    padding: 0
  }

  .aboutimg {
    margin-left: auto;
    width: 100%;
  }

  .aboutme {
    width: 100vw;
    gap: 3rem;
  }

  .aboutintro {
    padding: 0 3rem;
  }

  .aboutwelcome {
    text-align: center;
  }


  /* icon carousel */
  .iconctn {
    height: 6rem;
    padding: 0.5rem 0;
    width: 100vw;
  }

  .icon img {
    height: 2.5rem;
    width: 2.5rem
  }

  .icon {
    margin: 0 1.5rem;
  }
}

@media (max-width: 480px) {
  .aboutctn {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: none;
    gap: 2rem;
    margin: 0;
  }

  .aboutimg {
    margin-left: auto;
    width: 100%;
  }

  .aboutme {
    width: 100vw;
    gap: 2rem;
  }

  .aboutintro {
    padding: 0 1rem;
  }

  /* icon carousel */
  .iconctn {
    height: 4rem;
    padding: 0.5rem 0;
    width: 100vw;
  }

  .icon img {
    height: 2rem;
    width: 2rem
  }

  .icon {
    margin: 0 1rem;
  }

}