/* Contact Component */
.sectionctn:has(.contactctn) {
  overflow-y: hidden;
  background-image: linear-gradient(to right, #7fd8e7, #0C03BA);
}

.contactctn {
  width: 100%;
}

.contact {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding: 2rem;
}

.contactdesc {
  font-family: var(--main-font);
  font-size: var(--titlefontsize);
}

.contactlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 3rem 0;
}

.linkctn {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.linkicon:hover {
  animation: twirl 0.75s linear 1
}


@keyframes twirl {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(360deg);
  }

}

.linkicon {
  height: 12rem;
  width: 12rem;
}

.linktxt {
  font-family: var(--main-font);
  font-size: calc(var(--mainfontsize) * 0.8);
  text-align: center;
}


@media (max-width: 1024px) {
  .contactctn {
    grid-template-columns: 45% 55%;
    grid-template-rows: none;
    gap: 2rem;
    padding-top: 3rem;
  }

  .contactlist {
    gap: 1rem;
    width: 100%;
    padding: 32px 32px;
  }

}

@media (max-width: 480px) {
  .contactctn {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding-top: 1rem;
  }

  .contactlist {
    gap: 1rem;
    width: 100%;
    padding: 16px 32px;
  }
}