.sectionctn {
  overflow-y: hidden
}

.homectn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-self: center;
  background-image: linear-gradient(to right, #ED1E79, #662D8C);
  justify-content: center;
  align-items: center;
}

.homeIntro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: auto;
  justify-content: center;
  font-size: var(--titlefontsize);
  font-family: var(--main-font);
}

.homeimg {
  display: flex;
  align-items: last baseline;
}


@media (max-width: 1024px) {
  .homeIntro {
    margin-left: auto;
  }
}

@media (max-width: 480px) {
  .homectn {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    height: 90vh;
  }

  .homeIntro {
    margin-left: 0;
    align-items: center;
  }
}