.sectionctn {
  overflow-y: hidden
}

.homectn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin: auto;
  background-image: linear-gradient(to right, #ED1E79, #662D8C);
}

.homeIntro {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: auto;
  padding-top: 14rem;
  font-size: var(--titlesize);
  font-family: var(--main-font);
}

.homeimg {
  display: flex;
  align-items: last baseline;
  height: 100%;
}


@media (max-width: 1024px) {

  .homeHi {
    font-size: 2rem;
  }

}

@media (max-width: 480px) {
  .homeHi {
    font-size: 2rem;
  }
}