* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  margin: 0;
  padding: 0;
  --headerheight: 70px;
  --titlefontsize: 2rem;
  --headerfontsize: 1.5rem;
  --mainfontsize: 1.3rem;
  --detailfontsize: 1rem;
  --titlespacing: .7rem;
  --title-font: 'Bebas Neue', sans-serif;
  --main-font: 'Jost', sans-serif;
  color: white;
}

.content {
  opacity: 1;
  position: relative;
}

.content::-webkit-scrollbar {
  display: none;
}

.page {
  opacity: 0;
}

.page.show {
  opacity: 1;
  transition: opacity 2s ease-out;
}

.page:not(.show) {
  transition: opacity 3s ease-out;
}

.sectionctn {
  padding-top: var(--headerheight);
  padding-bottom: var(--headerheight);
  min-height: calc(100vh - var(--headerheight));
}

ul,
li {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

/* header */
.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--headerheight);
  font-family: var(--title-font);
  z-index: 10;
  display: flex;
}

.navbarbtns {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 7rem;
  padding-left: 3rem;
  width: 100%;
}

.navlink {
  font-size: var(--headerfontsize);
  padding: 8px 1rem;
  border-radius: 60%;
  width: fit-content;
  position: relative;
}

.navlink:hover {
  background-color: #3b5561;
  transform: scale(1.03);
}

.active {
  background-color: white;
  color: black;
  mix-blend-mode: screen;
}



@media (max-width: 1024px) {
  :root {
    --headerheight: 60px;
    --titlefontsize: 1.5rem;
    --headerfontsize: 1.3rem;
    --mainfontsize: 1rem;
    --detailfontsize: 0.7rem;
    --titlespacing: .4rem;
  }

  .navbarbtns {
    padding-left: 1rem;
    gap: 4rem;
  }
}

@media (max-width: 480px) {
  :root {
    --headerheight: 50px;
    --titlefontsize: 1.3rem;
    --headerfontsize: 0.9rem;
    --mainfontsize: 0.7rem;
    --detailfontsize: 0.5rem;
    --titlespacing: .2rem;
  }

  .navbarbtns {
    padding-left: 0.5rem;
    gap: 1rem;
  }

}